#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 60%;
  top: 10%; /* Adjust this value to move the pseudo-element (and thus the background image) down */
  left: 25%;
  z-index: -1;
  background-image: url("assets/background.svg");
  background-size: contain; /* Ensure the SVG fits inside the container without being cropped */
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(40deg);
}

@media (max-width: 700px) {
  body::before {
    top: -10%
  }
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
